.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Input {
    display: block;
}

.NavSign {
}

.ButtonC {
    all: unset;
    background-color: rgb(0, 71, 73);
    color: white;
    margin: 10px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    border-radius: 5px;
    
}

.ButtonC:hover {
    cursor: pointer;
    background-color: rgb(3, 123, 128);
}



@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}